@page "/fetchherodata"
@using Microsoft.AspNetCore.Components
@using BlazorWASMDemo.Shared

@inject HttpClient _httpClient

<h1>Heroes Page</h1>

<p>Add another Hero:</p>

<p>
    <label for="realname">Name:</label>
    <input name="realname" @bind="Hero.Name"/>
</p>

<p>
    <label for="heroname">Hero Name:</label>
    <input name="heroname" @bind="Hero.HeroName"/>
</p>
<p>
    <label for="powers">Powers:</label>
    <input name="powers" @bind="Hero.Powers"/>
</p>
<button class="btn btn-primary" @onclick="AddHeroAsync">Save</button>

<p>These are our heroes.</p>

@if (_heroes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hero Name</th>
            <th>Powers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var hero in _heroes)
        {
            <tr>
                <td>@hero.Id</td>
                <td>@hero.Name</td>
                <td>@hero.HeroName</td>
                <td>
                    @foreach (var power in @hero.Powers.Split(','))
                    {
                        <p>@power</p>
                    }
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="()=> DeleteHeroAsync(hero.Id)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@code {

    public Hero Hero { get; set; } = new();

    private ICollection<Hero>? _heroes;

    protected override async Task OnInitializedAsync()
    {
        await GetAllHeroesAsync();
    }

    private async Task AddHeroAsync()
    {
        var newHero = Hero.CopyHero(Hero);

        var result = await _httpClient.PostAsJsonAsync("api/Hero", newHero);

        await GetAllHeroesAsync();
    }

    private async Task GetAllHeroesAsync()
    {
        var result = await _httpClient.GetFromJsonAsync<ICollection<Hero>>("api/Hero");
        _heroes = result;
    }

    private async Task DeleteHeroAsync(int heroId)
    {
        var result = await _httpClient.DeleteAsync($"api/Hero/{heroId}");
        await GetAllHeroesAsync();
    }

}
